<div class="modal-container" id="preview-modal-container">
    <div class="modal">
        <header>
            <h2>Confirm Submission</h2>
            <button type="button" class="close-modal-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>
        <div class="modal-body"></div>
        <div class="actions">
            <button type="button" class="cancel-btn">Cancel</button>
            <button type="button" class="confirm-btn" id="confirm-btn">Confirm Submit</button>
        </div>
    </div>
</div>
