<div class="modal-container" id="upload-files-modal-container">

    <div class="modal" id="upload-files-modal">
        <header>
            <h2>Upload Excel Files</h2>
            <button type="button" class="close-modal-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>

        <form id="excel-upload-form" action="{% url 'upload-excel' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- file input -->
            <input type="file" id="file-input" name="files" accept=".xls,.xlsx" hidden multiple>

            <div class="upload-image-container" id="upload-files-container">
                <button class="upload-file-btn" type="button" onclick="document.getElementById('file-input').click()">
                    <i class="fa-solid fa-upload"></i>
                </button>

                <h3 id="drag-drop-text">
                    Drag and drop or <span class="highlighted-span">choose file</span> to upload
                </h3>
                <p id="file-text">Only .xlsx and .xls files are allowed.</p>
            </div>

            <section class="uploaded-files">
                <h3>Uploaded Files</h3>
                <ul class="uploaded-files-list">
                    <li class="no-files">No files yet</li>
                </ul>
            </section>

            <div class="actions" id="upload-actions">
                <button type="button" id="cancel-btn">Cancel</button>
                <button type="submit" id="submit-btn">Submit</button>
            </div>
        </form>

    </div>
</div>
