{% load custom_filters %}

<div class="user-table-container">

    <!-- Header with title and actions -->
    <div class="user-table-header">
        <h3>{{ user_type|titlecase }} Accounts</h3>
        <div class="actions">
            <button id="add-user-btn">Add {{ user_type }}</button>
            <button id="filter-btn">
                <i class="fas fa-sliders-h"></i>
            </button>
        </div>
    </div>

    <form>
        {% csrf_token %}
        <table class="user-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all-checkbox"></th>
                    <th>User</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="user-value-row" data-href="{{ user.get_absolute_url }}">
                    <td>
                        <input type="checkbox" name="staffs" value="user:{{ user.id }}">
                    </td>
                    <td>{{ user.get_full_name|default:user.username }}</td>
                    <td>{{ user.date_joined|date:"Y-m-d" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No staff users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>