{% load custom_filters %}
{% load static %}

<div class="user-table-container">

    <!-- Header with title and actions -->
    <div class="user-table-header">
        <h3>{{ user_type|titlecase }} Accounts</h3>
        <div class="actions">
            {% if user_type == 'staff' %}
            <a href="{% url 'add_staff' %}">
                <button id="add-user-btn">Add {{ user_type|titlecase }}</button>
            </a>
            {% endif %}
            <button id="filter-btn">
                <i class="fas fa-sliders-h"></i>
            </button>
        </div>
    </div>

    <form>
        {% csrf_token %}
        <table class="user-table">
            <thead>
                <tr>
                    <th><input type="checkbox" name='{{ user_type }}' id="select-all-checkbox"></th>
                    <th>User</th>
                    <th>{% if user_type == 'business_owner' %} Date Joined {% else %} Date Created {% endif %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="user-value-row" data-href="{{ user.get_absolute_url }}">
                    <td>
                        <input type="checkbox" name="{{ user_type }}" value="user:{{ user.id }}">
                    </td>
                    <td>{{ user.get_full_name|default:user.username }}</td>
                    <td>{{ user.date_joined|date:"Y-m-d" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script src="{% static 'users/js/manage_accounts.js' %}"></script>