{% extends 'dashboard/layout.html' %}

{% block body %}
<main class="container">
    <div class="header-bar">
        <h2>Pay with GCash</h2>
        
        <p><strong>Total Amount:</strong> ₱{{ total }}</p>

    </div>

    <div>
        <p>Scan this QR code using the GCash app on your phone. After payment, enter the Reference/Transaction Number and upload a screenshot (proof).</p>
        <img src="/media/gcash_qr.jpg" alt="GCash QR" width="250">

    </div>


        {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label>Reference Number</label><br>
    {{ form.reference_number }}<br><br>

    <label>Upload Proof of Payment</label><br>
    {{ form.proof }}<br><br>

    <button type="submit">Submit Payment</button>
    </form>
    </main>
{% endblock %}
