<section id="form-of-organization-filter">
    <h4>Form of Organization</h4>
    <ul class="checkbox-filter-list">
        {% for key, label in FORM_OF_ORGANIZATION_CHOICES %}
        <li class="checkbox-filter-item">
            <label>
                <input type="checkbox" name="form_of_organization" value="{{ key }}"
                    {% if key in selected_forms_of_organization %}checked{% endif %}>
                {{ label }}
            </label>
        </li>
        {% endfor %}
    </ul>
</section>