{% extends 'dashboard/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} Excel File Upload Report {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'documents/css/upload-report.css' %}">
{% endblock %}

{% block body %}
    <header class="document-details-header">
        <div class="column">
            <h1>Excel File Upload Report</h1>
        </div>
        <div class="actions">
            {% include 'dashboard/components/dashboard_actions.html' %}
        </div>
    </header>
    
    <div class="upload-report-container">
        {% for report in file_reports %}
            <div>
                {% include 'documents/upload_report_components/uploaded_file_header.html' with filename=report.filename %}
                {% include 'documents/upload_report_components/upload_report_table.html' with documents=report.documents %}
            </div>
        {% empty %}
            <p>No uploaded files to report.</p>
        {% endfor %}
    </div>

{% endblock %}