<div class="uploaded-file-header">

    <div class="uploaded-file-item">

        <i class="fa-solid fa-file"></i>

        <div class="column">

            <h3 class="filename">Example Filename.xls</h3>
            <p class="filesize">12 MB</p>
            <p>Sept 26, 2025</p>

        </div>

        <div class="stats-row">
            <div class="stat-item">
                <h3>5</h3>
                <p>Records</p>
            </div>
            <div class="stat-item">
                <h3>3</h3>
                <p>Imported</p>
            </div>
            <div class="stat-item">
                <h3>2</h3>
                <p>Failed</p>
            </div>
        </div>

    </div>

</div>