.collection-summary {
    margin: 0rem 2rem;
}

.collection-summary ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    list-style-type: none;
    margin-top: 1rem;
    gap: 1rem; 
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 1rem;
}

.collection-summary li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.collection-summary li strong {
    font-weight: 500;
}

.collection-summary li p {
    color: var(--text-secondary);
}