@import url('forms.css');
@import url('progress-nav.css');
@import url('alerts.css');
@import url('modal.css');
@import url('upload-files-modal.css');
@import url('collection_reports.css');

/* ========================================
   DOCUMENT DETAILS LAYOUT
   ======================================== */
.main-content:has(.document-details-container) {
    overflow: hidden;
}
  
.document-details-container {
  height: 100%;
  padding-bottom: 2rem;
}

.document-details-header,
.document-list-header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 2rem;
  margin-bottom: var(--space-lg);
  border-bottom: solid 2px var(--border-color);
  width: 100%;
}

.document-details-header h3,
.document-list-header h3
{
  color: var(--text-muted);
  font-size: clamp(0.5rem, 0.9vw, 1.5rem);
  font-weight: 400;
}

.document-details-header h1,
.document-list-header h1
{
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  font-weight: 600;
}

.document-details-header .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.document-details-header button {
  color: var(--text-light);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.document-details-header button:hover {
  color: var(--accent);
}

.document-details-header .actions a {
  color: var(--text-light);
  text-decoration: none;
  transition: 0.3s;
}

.document-details-header .actions a:hover {
  color: var(--accent);
}

.details-grid {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: var(--space-lg);
  width: 100%;
  height: 100%;
  margin: 0 1rem;
  padding-right: 2rem;
}

.details-grid .grid-item {
  background-color: var(--background-white);
  border: solid 1px var(--border-color);
  border-radius: var(--radius-lg);
  outline: none;
  padding: var(--space-xl);
}

.details-grid .grid-item .fa-square-check {
    color: var(--accent);
}

#details-grid-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  grid-column: span 5;
  grid-row: span 11;
  height: 100%;
  overflow-y: auto;
}

#details-grid-item img {
  width: 40%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-full);
  object-fit: cover;
  margin: 0 auto;
}

.details-grid .grid-item h4 {
  font-size: clamp(0.75rem, 1vw, 2rem);
  font-weight: 600;
  margin-bottom: var(--space-lg);
}

.details-grid .grid-item ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.details-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.details-section:not(:last-of-type) {
  border-bottom: solid 1px var(--border-color);
}

.label-value-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5rem;
  font-size: clamp(0.5rem, 0.8vw, 1.5rem);
}

.label-value-column {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 0.8vw, 1.5rem);
    gap: 0.35rem;
}

.label-value-row strong,
.label-value-column strong
{
  color: var(--text-secondary);
  font-weight: 600;
}

.label-value-row p,
.label-value-column p
{
  color: var(--text-muted);
  font-weight: 400;
}

/* ========================================
   PRODUCTS COVERED SECTION
   ======================================== */
#table-grid-item {
  grid-column: 6 / span 7;
  grid-row: span 6;
  width: 100%;
  height: 100%;
}

#table-grid-item .row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: var(--space-sm);
  border-bottom: solid 1px var(--border-color);
  width: 100%;
}

#table-grid-item .name-and-count {
  display: flex;
  align-items: start;
  gap: var(--space-md);
}

#table-grid-item .products-count {
  background-color: var(--text-lighter);
  color: white;
  font-size: clamp(0.5rem, 0.65vw, 1.5rem);
  font-weight: 700;
  margin-top: -2px;
  padding: 5px 15px;
  border-radius: var(--radius-pill);
}

#table-grid-item .actions {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  margin-top: -12px;
}

#table-grid-item button {
  color: var(--text-lighter);
  font-size: clamp(0.5rem, 0.8vw, 1.5rem);
  border: none;
  outline: none;
  cursor: pointer;
}

#table-grid-item #add-product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(0.5rem, 1vw, 1.5rem);
  height: clamp(0.5rem, 1vw, 1.5rem);
  padding: 1.15rem;
  font-size: clamp(0.5rem, 0.7vw, 1.25rem);
  background-color: var(--primary);
  color: white;
  border-radius: var(--radius-lg);
}

#table-grid-item table {
  width: 100%;
  border-collapse: collapse;
  margin-left: -0.5rem;
}

#table-grid-item tr {
  cursor: pointer;
}

#table-grid-item .value-tr {
  border-radius: var(--radius-md);
}

#table-grid-item .value-tr:hover {
  color: white;
}

#table-grid-item th,
#table-grid-item td {
  padding: var(--space-md);
  text-align: left;
}

#table-grid-item th {
  color: var(--text-lighter);
  font-weight: 400;
  transition: var(--transition-standard);
}

#table-grid-item th:hover {
  color: black;
}

#table-grid-item .sort-products-btn {
  margin-left: var(--space-sm);
}

#table-grid-item th:hover .sort-products-btn {
  color: black;
}

#table-grid-item td {
  transition: var(--transition-standard);
}

#table-grid-item .value-tr:hover td {
  background-color: var(--primary);
  color: white;
}

#table-grid-item .value-tr td:first-child {
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
}

#table-grid-item .value-tr td:last-child {
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

#table-grid-item .product-name-td {
  font-weight: 600;
}

.grid-item.tabs-section {
    grid-column: span 7;
    grid-row: span 11;
    height: 100%;
    padding: 0;
    overflow-y: hidden;
}

.grid-item.tabs-section .tabs-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style-type: none;
    padding: 1rem;
    border-bottom: solid 1px var(--border-color);
}

.grid-item.tabs-section .tab-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    color: var(--text-light);
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    cursor: pointer;
    transition: var(--transition-standard);
}

.grid-item.tabs-section .tab-item strong {
    font-weight: 300;
    letter-spacing: 0.2px;
}

.grid-item.tabs-section .tab-item.active,
.grid-item.tabs-section .tab-item:hover
{
    color: var(--accent);
}

.grid-item.tabs-section .tab-item.active::before {
    position: absolute;
    content: '';
    background-color: var(--accent);
    transform: translateX(-50%);
    left: 50%;
    bottom: -1rem;
    width: calc(100% + 0.5rem);
    height: 1px;
}

.tab-content {
    display: none;
    padding: 2rem;
}

.tab-content.active {
    display: block;
}

.tab-content dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    margin-top: 2rem;
}

.tab-content .field-pair {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px var(--border-color);
}

.tab-content dt {
    color: var(--text-muted);
    font-weight: 400;
    margin-bottom: 0.35rem;
}

.tab-content dd {
    font-weight: 600;
}

.tab-content .empty-state {
    color: var(--text-light);
    font-weight: 400;
    margin-top: 1rem;
}

#services-offered-grid-item {
    grid-column: span 7;
    grid-row: span 5;
    height: 100%;
    overflow-y: auto;
}

#service-categories-list {
    padding: 0 1rem;
}

#services-offered-list {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0 1rem;
}

.service-offered-item {
    color: var(--text-muted);
    font-weight: 400;
    font-size: clamp(0.5rem, 0.8vw, 1.5rem);
}

#remarks-grid-item {
    grid-column: span 7;
    grid-row: span 6;
    height: 100%;
    overflow-y: auto;
}

#requirements-grid-item {
    grid-column: span 7;
    grid-row: span 11;
    height: 100%;
    overflow: auto;
}

.current-document-type-span {
    color: var(--text-muted);
}

.document-list-container {
    height: 100%;
}

.document-type-list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 1.5rem;
}

.document-type-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 0 0 calc((100% / 6) - 1.5rem);
    transition: 0.3s;
}

.document-type-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    border-radius: var(--radius-md);
    height: 15vh;
    padding: 1rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.document-type-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-md);
    color: var(--text-lighter);
    font-size: clamp(2.5rem, 1vw, 7.5rem);
    padding: 1rem;
    transition: 0.15s ease-in;
}

.document-type-icon:hover,
.document-type-icon.active
{
    background-color: var(--input-focus);
    border: solid 1px var(--accent);
}

.document-type-icon:hover i,
.document-type-icon.active i
{
    color: var(--accent);
}

.document-type-name {
    color: black;
    font-weight: 400;
    margin-top: 0.25rem;
}

.document-type-count {
    color: var(--text-light);
    font-weight: 300;
}

.documents-table-container {
    margin: 1.5rem;
    margin-top: 3rem;
}

.documents-table-container h3 {
    font-weight: 500;
}

.documents-table {
    margin-top: 1rem;
    width: calc(100% - 1.5rem); 
    border-collapse: collapse; 
    border-spacing: 0;          /* <-- explicitly kill gaps */
}

.documents-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-right: 2.5rem;
    width: 100%;
}

.documents-table-header .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.documents-table-header .actions button {
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: var(--radius-sm);
    color: var(--text-secondary);
    cursor: pointer;
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    transition: 0.1s;
}

.documents-table-header #filter-btn i {
    transition: 0.1s;
}

.documents-table-header #filter-btn:hover {
    border: solid 1px var(--accent);
}

.documents-table-header #filter-btn:hover i {
    color: var(--accent);
}

.documents-table thead {
    width: 100%;
}

.documents-table th {
    text-align: left;
    color: var(--text-secondary);
    font-weight: 400;
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.documents-table td:nth-child(6),td:nth-child(7),td:nth-child(8) { 
    text-align: center; 
    vertical-align: middle; 
    white-space: nowrap; 
}

.document-value-row {
    cursor: pointer;
}

.document-value-row td {
    padding: 1rem 0;
    padding-left: 1rem;
}

.document-value-row:hover td {
    background-color: rgb(228, 238, 255); 
}

#upload-from-excel-btn {
    background-color: var(--accent);
    color: white;
}

.documents-table-header .actions button:not(#upload-from-excel-btn) {
    display: flex;
    align-items: start;
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: var(--radius-sm);
    color: var(--text-secondary);
    cursor: pointer;
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.1s;
}

.documents-table-header .actions button:not(#upload-from-excel-btn):hover {
    border: solid 1px var(--accent);
    color: var(--accent);
}

.oop-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.65rem, 0.8vw, 1rem);
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius-sm);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
  text-align: center;
  white-space: nowrap;
}

.oop-btn:hover {
  transform: translateY(-1px);
}

.oop-create {
  background-color: var(--accent);
  color: #fff;
  border: 1px solid var(--accent);
}

.oop-view {
  background-color: var(--primary-light);
  color: #fff;
  border: 1px solid var(--primary-light);
}

.oop-badge {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: var(--radius-pill);
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

.oop-badge-warning {
    background: rgba(255, 193, 7, 0.2);
    color: rgb(170, 120, 0);
}