@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: rgb(15, 8, 83);
    --primary-light: rgb(9, 29, 145);
    --primary-muted: rgba(40, 54, 255, 0.15);
    --secondary: rgb(200, 200, 200);
    --secondary-muted: rgba(235, 235, 235, 0.8);
    --accent: rgb(0, 102, 255);

    --input-focus: rgb(234, 242, 255);

    --light-gray: rgb(225, 225, 225);
    --dark-gray: rgb(75, 75, 75);

    --sidebar-collapsed-width: 5rem; 
    --sidebar-expanded-width: clamp(12rem, 15vw, 24rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.layout {
    display: flex;
    height: 100vh;
}

button {
        font-family: "Archivo", sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
}