/* Container */
.user-table-container {
    margin: 1.5rem;
    margin-top: 3rem;
}

/* Header */
.user-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-right: 2.5rem;
    width: 100%;
}

.user-table-header h3 {
    font-weight: 500;
    color: var(--text-secondary);
    margin: 0;
}

/* Header action buttons */
.user-table-header .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-table-header .actions button {
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: var(--radius-sm);
    color: var(--text-secondary);
    cursor: pointer;
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    transition: 0.1s;
    display: flex;
    align-items: center;
}

.user-table-header #filter-btn i {
    margin-right: 0.4rem;
    transition: 0.1s;
}

.user-table-header #filter-btn:hover {
    border-color: var(--accent);
}

.user-table-header #filter-btn:hover i {
    color: var(--accent);
}

.user-table-header .actions button:hover {
    border-color: var(--accent);
    color: var(--accent);
}

/* Table styling */
.user-table {
    margin-top: 1rem;
    width: calc(100% - 1.5rem);
    border-collapse: collapse;
    border-spacing: 0; /* kill gaps */
}

.user-table thead {
    width: 100%;
}

.user-table th {
    text-align: left;
    color: var(--text-secondary);
    font-weight: 400;
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.user-value-row {
    cursor: pointer;
}

.user-value-row td {
    padding: 1rem 0;
    padding-left: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.user-value-row:hover td {
    background-color: rgb(228, 238, 255);
}

/* Checkbox cursor */
.user-value-row input[type="checkbox"] {
    cursor: pointer;
}

/* Optional: constrain modal width */
.modal-dialog {
    max-width: 600px; /* adjust as needed */
    margin: 0;        /* remove default Bootstrap margin */
}

/* Proper centering (horizontal + vertical) */
.modal.show {
    display: flex !important;
    align-items: center;       /* vertical centering */
    justify-content: center;   /* horizontal centering */
}
