{% extends 'users/layout.html' %}

{% block title %} Create an account {% endblock %}

{% block body %}
<div class="glass-layer">
    <div class="authentication-form-container">

        <form action="{% url 'register' %}" class="authentication-form" id="register-form" method="post">

            <img src="/media/media/dti-logo.png" alt="DTI Logo Image" id="dti-logo">

            {% csrf_token %}
            <header>
                <h1>Create an Account</h1>
                <h3>Create your account by filling out the form below.</h3>
            </header>

            <div class="form-scroll">
                <div class="row">
                    <div class="form-group">
                        <label for="id_first_name">First Name</label>
                        <input type="text" name="first_name" id="id_first_name"
                            value="{{ form.first_name.value|default_if_none:'' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="id_last_name">Last Name</label>
                        <input type="text" name="last_name" id="id_last_name"
                            value="{{ form.last_name.value|default_if_none:'' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input type="email" name="email" id="id_email" required
                        value="{{ form.email.value|default_if_none:'' }}" hx-post="{% url 'check-email-exists' %}"
                        hx-trigger="change delay:250ms" hx-target="#email-check-result" hx-swap="innerHTML">
                </div>

                <div class="form-group">
                    <label for="id_default_phone">Phone Number</label>
                    <input type="text" name="default_phone" id="id_default_phone"
                        value="{{ form.default_phone.value|default_if_none:'' }}" required maxlength="11"
                        pattern="\d{11}" title="Phone number must be exactly 11 digits"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,11);">
                </div>

                <div class="form-group">
                    <label for="id_default_address">Address</label>
                    <input type="text" name="default_address" id="id_default_address"
                        value="{{ form.default_address.value|default_if_none:'' }}" required>
                </div>

                <div class="form-group">
                    <label for="id_password1">Password</label>
                    <input type="password" name="password1" id="id_password1" required
                        hx-post="{% url 'check-password-strength' %}" hx-trigger="keyup change delay:100ms"
                        hx-target="#password-strength-result" hx-swap="innerHTML">
                </div>

                <div class="form-group">
                    <label for="id_password2">Confirm Password</label>
                    <input type="password" name="password2" id="id_password2" required>
                </div>
                <!-- Remove admin choice and just change everything to something like "Welcome Business Owner" at the top and remove choices -->
                <div class="form-group" id="roles-form-group">
                    <h4>Role: </h4>
                    <div class="role-selection">
                        <div class="role-choice-item">
                            <input type="radio" name="role" id="id_role_business_owner" value="business_owner" {% if form.role.value == "business_owner" %}checked{% endif %}>
                            <label for="id_role_business_owner">Business Owner</label>
                        </div>
                        <div class="role-choice-item">
                            <input type="radio" name="role" id="id_role_collecting_agent" value="collecting_agent" {% if form.role.value == "collecting_agent" %}checked{% endif %}>
                            <label for="id_role_collecting_agent">Collecting Agent</label>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit">Create Account</button>

            <div class="message-feedback-container">
                <p>Already have an account? <a href="{% url 'sign-in' %}">Sign-in instead</a></p>

                <div id="email-check-result" class="email-check-message"></div>
                <div id="password-strength-result"></div>
            </div>

        </form>

        <div class="graphics-panel">
            <header>
                <h1>Join now to access your DTI services dashboard.</h1>
                <h3>Easily manage your business, track applications, and stay informed with the latest DTI updates.</h3>
            </header>
            <div class="bar-graph-preview">
                <div class="wrapper">
                    <h4>Dashboard</h4>
                    <div class="actions">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}