{% extends 'users/layout.html' %}

{% block title %} Create an account {% endblock %}

{% block body %}
    <div class="backdrop-layer">
        <div class="glass-layer">
            <div class="authentication-form-container">

                <form action="" class="authentication-form">
                    <header>
                        <h1>Create an Account</h1>
                        <h3>Create your account by filling out the form below.</h3>
                    </header>

                    <div class="row">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password">
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password">
                    </div>
                    <button type="button">Create Account</button>
                </form>

                <div class="graphics-panel">
                    <header>
                        <h1>Join now to access your DTI services dashboard.</h1>
                        <h3>Easily manage your business, track applications, and stay informed with the latest DTI updates.</h3>
                    </header>
                    <div class="bar-graph-preview">
                        <div class="wrapper">
                            <h4>Dashboard</h4>
                            <div class="actions">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}