{% extends 'dashboard/layout.html' %}
{% load custom_filters %}

{% block title %} All Documents {% endblock %}

{% block body %}
    <div class="document-list-container">

        <header class="document-list-header">
            <h1>Documents <span class="current-document-type-span"> / Main</span></h1>
            {% include 'dashboard/components/searchbar.html' %}
        </header>

        {% include 'documents/components/document_type_list.html' %}

        <section class="documents-table-container">
            <header class="documents-table-header">
                <h3>All Documents</h3>
                <div class="actions">
                    <a href="{% url 'export-to-excel' %}" id="export-excel-btn">
                        Convert to Excel file
                        <i class="fa-solid fa-file-excel"></i>
                    </a>
                    <button id="filter-btn">
                        <i class="fas fa-sliders-h"></i>
                    </button>
                </div>
            </header>
            <table class="documents-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Document Type</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr class="document-value-row">
                            <td>{{ document }}</td>
                            <td>{{ document.model_verbose_name|titlecase }}</td>
                            <td>{{ document.user }}</td>
                            <td>{{ document.status|titlecase }}</td>
                            <td>
                                {% if document.date %}
                                    {{ document.date }}
                                {% else %}
                                    {{ document.date_filed }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

    </div>
{% endblock %}