{% extends 'dashboard/layout.html' %}

{% block title %} Create Sales Promotion Permit Application {% endblock %}

{% block body %}
    <div class="form-container">
        <header>
            <h1>Sales Promotion Permit Application</h1>
        </header>
        <div class="form-wrapper">
            <form class="documents-form" action="{% url 'create-sales-promotion' %}" method="POST">
                {% csrf_token %}
            
                <!-- Promo Title -->
                <fieldset id="promo-title-fieldset">
                    <legend>Promotion Details</legend>
                    <div class="row">
                        <div class="form-group">
                            <label for="{{ form.promo_title.id_for_label }}">{{ form.promo_title.label|safe }}</label>
                            {{ form.promo_title }}
                        </div>
                    </div>
                </fieldset>

                <!-- 1. Sponsors -->
                <fieldset id="sponsors-fieldset">
                    <p class="part-count">Part 1 of 5</p>
                    <legend>Sponsor</legend>

                    <div class="form-group">
                        <label for="{{ form.sponsor_name.id_for_label }}">{{ form.sponsor_name.label|safe }}</label>
                        {{ form.sponsor_name }}
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="{{ form.sponsor_telephone.id_for_label }}">{{ form.sponsor_telephone.label|safe }}</label>
                            {{ form.sponsor_telephone }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.sponsor_email.id_for_label }}">{{ form.sponsor_email.label|safe }}</label>
                            {{ form.sponsor_email }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.sponsor_authorized_rep.id_for_label }}">{{ form.sponsor_authorized_rep.label|safe }}</label>
                            {{ form.sponsor_authorized_rep }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.sponsor_designation.id_for_label }}">{{ form.sponsor_designation.label|safe }}</label>
                            {{ form.sponsor_designation }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.sponsor_address.id_for_label }}">{{ form.sponsor_address.label|safe }}</label>
                        {{ form.sponsor_address }}
                    </div>
                </fieldset>

                <!-- 2. Advertising Agency -->
                <fieldset id="advertising-fieldset">
                    <p class="part-count">Part 2 of 5</p>
                    <legend>Advertising Agency</legend>

                    <div class="form-group">
                        <label for="{{ form.advertising_agency_name.id_for_label }}">{{ form.advertising_agency_name.label|safe }}</label>
                        {{ form.advertising_agency_name }}
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="{{ form.advertising_agency_telephone.id_for_label }}">{{ form.advertising_agency_telephone.label|safe }}</label>
                            {{ form.advertising_agency_telephone }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.advertising_agency_email.id_for_label }}">{{ form.advertising_agency_email.label|safe }}</label>
                            {{ form.advertising_agency_email }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.advertising_agency_authorized_rep.id_for_label }}">{{ form.advertising_agency_authorized_rep.label|safe }}</label>
                            {{ form.advertising_agency_authorized_rep }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.advertising_agency_designation.id_for_label }}">{{ form.advertising_agency_designation.label|safe }}</label>
                            {{ form.advertising_agency_designation }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.advertising_agency_address.id_for_label }}">{{ form.advertising_agency_address.label|safe }}</label>
                        {{ form.advertising_agency_address }}
                    </div>
                </fieldset>

                <!-- 3. Promo Period -->
                <fieldset id="promo-period-fieldset">
                    <p class="part-count">Part 3 of 5</p>
                    <legend>Promo Period</legend>

                    <div class="row">
                        <div class="form-group">
                            <label for="{{ form.promo_period_start.id_for_label }}">{{ form.promo_period_start.label|safe }}</label>
                            {{ form.promo_period_start }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.promo_period_end.id_for_label }}">{{ form.promo_period_end.label|safe }}</label>
                            {{ form.promo_period_end }}
                        </div>
                    </div>
                </fieldset>

                <!-- 4. Products Covered -->
                <fieldset id="products-fieldset">
                    <p class="part-count">Part 4 of 5</p>
                    <legend>Products Covered</legend>
                    <p id="description"></p>

                    {{ product_formset.management_form }}
                    {% for product_form in product_formset %}
                        <div class="row">
                            <div class="form-group">
                                <label for="{{ product_form.name.id_for_label }}">{{ product_form.name.label|safe }}</label>
                                {{ product_form.name }}
                            </div>
                            <div class="form-group">
                                <label for="{{ product_form.brand.id_for_label }}">{{ product_form.brand.label|safe }}</label>
                                {{ product_form.brand }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ product_form.specifications.id_for_label }}">{{ product_form.specifications.label|safe }}</label>
                            {{ product_form.specifications }}
                        </div>
                    {% endfor %}
                </fieldset>

                <!-- 5. Coverage -->
                <fieldset id="coverage-fieldset">
                    <p class="part-count">Part 5 of 5</p>
                    <legend>Coverage</legend>

                    <ul class="coverage-choice-list">
                        <li class="coverage-choice">
                            <div class="icon-group">
                                <i class="fa-solid fa-city"></i>
                            </div>
                            <div class="details">
                                <label for="id_coverage_NCR">NCR</label>
                                <p>or several regions including Metro Manila</p>
                                <input type="radio" name="coverage" id="id_coverage_ncr" value="NCR" required>
                            </div>
                            <i class="fa-solid fa-check option-selected-icon"></i>
                        </li>

                        <li class="coverage-choice">
                            <div class="icon-group">
                                <i class="fa fa-map"></i>
                                <i class="fa-solid fa-2 number-icon"></i>
                            </div>
                            <div class="details">
                                <label for="id_coverage_2_REGIONS">2+ Regions</label>
                                <p>or more outside of NCR or Metro Manila</p>
                                <input type="radio" name="coverage" id="id_coverage_2_REGIONS" value="2_REGIONS">
                            </div>
                            <i class="fa-solid fa-check option-selected-icon"></i>
                        </li>

                        <li class="coverage-choice">
                            <div class="icon-group">
                                <i class="fa fa-map"></i>
                                <i class="fa-solid fa-1 number-icon"></i>
                            </div>
                            <div class="details">
                                <label for="id_coverage_1_REGION_2_PROVINCES">Single Region</label>
                                <p>covering 2 provinces or more</p>
                                <input type="radio" name="coverage" id="id_coverage_1_REGION_2_PROVINCES" value="1_REGION_2_PROVINCES">
                            </div>
                            <i class="fa-solid fa-check option-selected-icon"></i>
                        </li>

                        <li class="coverage-choice">
                            <div class="icon-group">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="details">
                                <label for="id_coverage_1_PROVINCE">Single Province</label>
                                <p>covers only one province plus city/ies or municipality/ies</p>
                                <input type="radio" name="coverage" id="id_coverage_1_PROVINCE" value="1_PROVINCE">
                            </div>
                            <i class="fa-solid fa-check option-selected-icon"></i>
                        </li>
                    </ul>

                    <div class="coverage-text-inputs" id="id_2_REGIONS">
                        <div class="form-group">
                            <label for="">Region of Sponsor</label>
                            {{ form.region_location_of_sponsor }}
                        </div>
                        <div class="form-group">
                            <label for="">Regions Covered</label>
                            {{ form.regions_covered }}
                        </div>
                    </div>

                    <div class="coverage-text-inputs" id="id_1_REGION_2_PROVINCES">
                        <div class="form-group">
                            <label for="">Region</label>
                            {{ form.single_region }}
                        </div>
                        <div class="form-group">
                            <label for="">Provinces</label>
                            {{ form.provinces_covered }}
                        </div>
                    </div>

                    <div class="coverage-text-inputs" id="id_1_PROVINCE">
                        <div class="form-group">
                            <label for="">Single Province</label>
                            {{ form.single_province }}
                        </div>
                        <div class="form-group">
                            <label for="">City/ies or Municipality/ies covered</label>
                            {{ form.cities_or_municipalities_covered }}
                        </div>
                    </div>

                </fieldset>

            </form>

            {% include 'documents/partials/progress-indicator.html' %}

        </div>
    </div>
{% endblock %}