{% extends 'dashboard/layout.html' %}
{% load custom_filters %}

{% block title %} Create Personal Data Sheet {% endblock %}

{% block body %}
    <div class="form-container">
        <header>
            <h1>Personal Data Sheet</h1>
        </header>
        <div class="form-wrapper">

            <form class="documents-form" action="{% url 'create-personal-data-sheet' %}" method="POST">
                {% csrf_token %}

                {% for group in field_groups %}
                    <fieldset id="{{ group.2 }}-fieldset">
                        <p class="part-count">Part {{ forloop.counter }} of {{ field_groups|length }}</p>
                        <legend>{{ group.0 }}</legend>
                        <div class="stepped-layout">
                            {% for row in group.1 %}
                                {% if row.0 == 'image' %}
                                    <div class="form-group" style="margin-top: 1rem;">
                                        <label for="{{ form.image_for_label }}">{{ form.image.label|safe }} (Passport Size Photo)</label>
                                        <div class="upload-image-container">

                                            <button class="upload-file-btn" type="button">
                                                <i class="fa-solid fa-upload"></i>
                                            </button>

                                            <h3 id="drag-drop-text">Drag and drop or <span class="highlighted-span">choose file</span> to upload</h3>
                                            <p id="file-text">No file chosen yet.</p>
                                            {{ form.image }}

                                        </div>
                                    </div>
                                {% else %}
                                    <div class="step-grid">
                                        {% for field_name in row %}
                                            {% with form_field=form|get_form_field:field_name %}
                                                <div class="form-group">
                                                    <label for="{{ form_field.id_for_label }}">{{ form_field.label|safe }}</label>
                                                    {{ form_field }}
                                                </div>
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                {% endfor %}

                {% for label, formset in formsets.items %}

                    <fieldset id="{{ label }}-formset">
                        <p class="part-count">Part {{ forloop.counter|add:"1" }} of {{ formsets_count }}</p>
                        <legend>{{ label|titlecase }}</legend>
                        {{ formset.management_form }}

                        <div class="stepped-layout">

                            <div class="step-grid">
                                {% for form in formset %}

                                    {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            <label for="{{ field.id_for_label }}">{{ field.label|safe }}</label>
                                            {{ field }}
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}

                                {% endfor %}
                            </div>

                        </div>


                    </fieldset>

                {% endfor %}

            </form>

            {% include 'documents/partials/progress-indicator.html' %}
        </div>
    </div>
{% endblock %}