{% extends 'dashboard/layout.html' %}

{% block title %} Order of Payment {% endblock %}

{% block body %}
<div class="document-details-container">
    
    {% include 'documents/components/document_header.html' with title="Order of Payment" obj=order %}

    <div class="details-grid">
        <section class="grid-item" id="details-grid-item">
            {% for group in detail_groups %}
                {% include 'documents/partials/details_grid_item.html' with group=group obj=order %}
            {% endfor %}
        </section>

        {% include 'documents/components/permit_fee_grid_item.html' %}

    </div>
</div>
{% endblock %}