{% extends 'dashboard/layout.html' %}

{% block title %} Personal Data Sheet {% endblock %}

{% block body %}
<div class="document-details-container">

    {% include 'documents/components/document_header.html' with title="Personal Data Sheet" obj=personal_data_sheet %}

    <div class="details-grid">
        <section class="grid-item" id="details-grid-item">
            {% with group=detail_groups.0 obj=personal_data_sheet %}
                {% include 'documents/partials/details_grid_item.html' %}
            {% endwith %}
        </section>

        {% include 'documents/components/tabs_section.html' %}

    </div>
</div>
{% endblock %}