<div class="document-list-filters-container">
    <div class="document-list-filters-modal">
        <header>
            <h2>Additional Filters</h2>
            <button id="close-list-filters-modal-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>

        <div class="filters">

            <section id="date-created-filter">
                <h4>Date Created</h4>
                <div class="wrapper">
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <input type="date" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">End Date</label>
                        <input type="date" name="" id="">
                    </div>
                </div>
            </section>

            <section id="status-filter">
                <h4>Status</h4>
                <ul class="status-filter-list">
                    <li>
                        <input type="checkbox" name="" id="">
                        Draft
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        Submitted
                    </li>
                </ul>
            </section>

            <section id="created-by-filter">
                <h4>Created by</h4>
                <div class="created-by-searchbar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="" id="">
                </div>
            </section>

        </div>

        <div class="actions">
            <button id="clear-btn">Clear</button>
            <button id="submit-btn">Submit</button>
        </div>

    </div>
</div>