<header class="documents-table-header">
    <h3>All Documents</h3>
    <div class="actions">
        {% if request.user.role != 'business_owner' %}
            <button type="submit" form="documents-table-form" formaction="{% url 'approve-documents' %}" id="approve-btn">
                Approve
            </button>            
        {% endif %}
        <button type="submit" form="documents-table-form" formaction="{% url 'generate-documents-report' %}" id="generate-report-btn">
            Generate Report
        </button>
        <button id="filter-btn">
            <i class="fas fa-sliders-h"></i>
        </button>
    </div>
</header>