<div class="modal-container" id="document-list-filters-container" style="display: flex">
    <div class="modal" id="document-list-filters-modal">
        <header>
            <h2>Advanced Filters</h2>
            <button type="button" class="close-modal-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>

        <!-- Form -->
        <form method="get" id="document-filters-form">

            <!-- Date Created Filter -->
            {% include 'documents/partials/filter_modal_partials/date_created_filters.html' %}

            <!-- Status Filter -->
            {% include 'documents/partials/filter_modal_partials/status_filters.html' %}

            <!-- User search filters -->
            {% include 'documents/partials/filter_modal_partials/user_search_filters.html' %}

            <!-- Application type filters -->
            {% include 'documents/partials/filter_modal_partials/application_type_filters.html' %}

            <!-- Service category filters -->
            {% include 'documents/partials/filter_modal_partials/service_category_filters.html' %}

            <!-- Social classification filters -->
            {% include 'documents/partials/filter_modal_partials/social_classification_filters.html' %}

            <!-- Asset size filters -->
            {% include 'documents/partials/filter_modal_partials/asset_size_filters.html' %}

            <!-- Form of ogranization filters -->
            {% include 'documents/partials/filter_modal_partials/form_of_organization_filters.html' %}

            <!-- Actions -->
            <div class="actions">
                <button type="reset" id="clear-btn">Clear</button>
                <button type="submit" id="submit-btn">Apply</button>
            </div>
        </form>
    </div>
</div>
