{% load custom_filters %}

<fieldset id="{{ label }}-formset" data-label="{{ label }}">
    <p class="part-count">Part {{ forloop.counter|add:"1" }} of {{ formsets_count }}</p>
    <legend>{{ label|titlecase }}</legend>
    {{ formset.management_form }}

    <div class="stepped-layout">

        <div class="step-grid">
            {% for form in formset %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label|safe }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}

            {% endfor %}
        </div>

        <button class="add-btn" type="button">Add</button>

        <ol id="{{ label }}-preview-list" class="preview-list">
        </ol>

    </div>


</fieldset>