<aside class="form-progress-nav">
    <ol>
        {% for step in form_steps %}
            <li data-target="{{ step.target }}" class="step-item">
                <span class="step-circle"></span>
                <strong>{{ step.label }}</strong>
                <i class="fa-solid fa-angle-right"></i>
            </li>
        {% endfor %}
    </ol>
    <div class="completion-percentage">
        <div class="progress">
            <div class="value">
                <span>50%</span>
            </div>
            <div class="column">
                <strong class="status">Incomplete</strong>
                <div class="progress-bar">
                    <div class="fill"></div>
                </div>
            </div>
        </div>
    </div>
</aside>
