{% load custom_filters %}

<aside class="form-progress-nav">
    <ol>
        {% for group in field_groups %}
            <li data-target="{{ group.2 }}-fieldset" class="step-item">
                <span class="step-circle"></span>
                <strong>{{ group.0 }}</strong>
                <i class="fa-solid fa-angle-right"></i>
            </li>
        {% endfor %}
    </ol>
    <div class="completion-percentage">
        <div class="progress">
            <div class="value" data-percent="">
                <span>50%</span>
            </div>
            <div class="column">
                <strong class="status">Incomplete</strong>
                <div class="progress-bar">
                    <div class="fill"></div>
                </div>
            </div>
        </div>
        <div class="actions">
            <button class="save-draft-btn">Save Draft</button>
            <button class="submit-btn">Submit</button>
        </div>
    </div>
</aside>
