{% load custom_filters %}

<table class="documents-table uploaded-files-table">
    <thead>
        <tr>
            <th>Report Name</th>
            <th>Number of Records</th>
            <th>Report Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for report in collection_reports %}
        <tr class="document-value-row" data-href="{{ report.get_absolute_url }}">
            <td>{{ report }}</td>
            <td>{{ report.report_items.count }}</td>
            <td>{{ report.report_duration }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
