{% load custom_filters %}

<table class="documents-table uploaded-files-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Number</th>
            <th>Payor</th>
            <th>Particulars</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="document-value-row" data-href="{{ item.get_absolute_url }}">
            <td>{{ item.date }}</td>
            <td>{{ item.number }}</td>
            <td>{{ item.payor }}</td>
            <td>{{ item.particulars }}</td>
            <td>{{ item.amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No documents found for this file.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
